.img{
	width: 25px;
	height: 25px;
	border-radius: 50px;
}
.avatar .image{
	width: 250px;
}
.box-info{
	width: 450px;
	
}
.row-info{
	width: 100%;
	margin: 30px 0;
	display: flex;

}
.row-info .title{
	width: 40%;
	font-size: 20px;
	font-weight: bolder;
	
}
.row-info .content{
	width: 60%;
	font-size: 18px;
}
.edit>a{
	text-decoration: none;
	font-size: 19px;
}
